<div class="card">
    <div class="card-header">
    <h4>Product list</h4>
    </div>

    <div class="row mb-2">
    <label class="col-2">Filter:</label>
    <input type="text" class="col-3">
    <div class="col-7"></div>
    </div>
    </div>

<div class="container">
<table id="iproduct" class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Product</th>
        <th scope="col">Code</th>
        <th scope="col">Release Date</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td><img src="{{product.imageUrl}}" alt="{{product.productName}}" width="50" height="50" ></td>
        <td><a href="/product/{{product.productId}}" style="text-decoration: none">{{product.productName}} </a></td>
        <td>{{product.productCode}}</td>
        <td>{{product.releaseDate}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td><div class="crop" [style.width.px]="product.starRating*75/5" title="rating">
          <div style="width: 90px">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          </div>
          </div></td>
      </tr>
    </tbody>
    
  </table>
</div>