<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">FPoly Product Manager</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">Product list</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Manager
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Cart</a>
        </div>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>